body {
  margin: 0;
}

._container {
  /* flex: 1 1 100; */
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  @media (max-width: 1200px) {
    flex: 1 1 auto;
    flex-wrap: wrap;
  }
}

.header {
  display: flex;

  &__container {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    /* Empty block */
  }

  &__logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__menu {
    display: flex;
  }
}

.logo {
  &__img {
    /* Empty block */
  }
}

.menu {
  display: flex;
  flex: 1 1 auto;

  &__items {
    display: flex;
  }

  &__item {
    /* Empty block */
  }

  &__link {
    text-transform: uppercase;
  }
}
